<!DOCTYPE html>
<html>

<head>
    <title>登录页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/sha1.min.js"></script>
    <script src="../static/js/awesome.js"></script>
</head>
<script>
$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (err) {

                        alert("error:\n"+err);
                        return $form.showFormError(err);
                    }
                        location.assign('/');

                });
            }
        }
    });
    $('#vm').show();
});

</script>
<body class="uk-background-muted">
    <div uk-height-viewport class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center" style="min-height: calc((100vh - 80px) - 0px);">
        <div class="uk-width-1-1">
            <div class="uk-container" style="max-width: 330px;">
                <p><svg width="90" height="83" viewBox="0 0 168 155" xmlns="http://www.w3.org/2000/svg" style="color: rgb(30,135,240);" class=" uk-svg" data-svg="../../../skin/ukv3/images/uikit-logo-large.svg">
									  <path fill="#fff" d="M117.4 33.3L93.3 47.9l27.8 15.8v41.5L83.8 126l-36.7-20.8V73L23 60.7v58.9l59.9 35.2 62.1-35.2V49.2l-27.6-15.9zM106.2 27.5L82.9 14 58.6 29.1l23.6 13z"></path>
									</svg></p>
                <p class="uk-text-lead">登录</p>
                <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input v-model="email" name="email" class="uk-input" type="text" placeholder="电子邮箱">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input v-model="passwd" name="passwd" class="uk-input" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <label><input class="uk-checkbox" type="checkbox"> 记住登录状态</label>
                        </div>
                    </div>
                    <div class="uk-form-row">
                    <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 登录</button>
                    </div>
                    <p class="uk-margin-medium-top	"><a href="http://v3.getuikit.work/">UIkit中文网</a> &copy; 2017-2020</p>
                </form>
            </div>
        </div>

    </div>
</body>

</html>